*{
  background-color: rgb(114, 106, 106);
}
.Sund{
  color: rgb(252, 3, 3)
}
/* .header {
  background-color: #1f2933;
  color: white;
  padding: 16px;
}
/
.header nav {
  margin-top: 8px;
}

.header a {
  color: #93c5fd;
  margin-right: 16px;
  text-decoration: none;
}

html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
} */